    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% if (user.Rol == 'Socio' || user.Rol == 'Nodo' || user.Rol == 'Admin') { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Socios</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="clientes">Actualizar Clientes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="consultar">Consultar Antecedentes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="operacion">Cargar Operaci贸n</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="modificar">Modificar Estado</a></li>
                            </ul>
                        </li>
                    <% } %>
                    <% if (user.Rol == 'Nodo' || user.Rol == 'Admin') { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Nodos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/socios">Actualizar Socios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <!-- <li><a class="dropdown-item" href="#">Facturaci贸n</a></li> -->
                            </ul>
                        </li>
                    <% } %>
                    <% if (user.Rol == 'Admin') { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mantenedor</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/nodos">Actualizar Nodos</a></li>
                                <li><a class="dropdown-item" href="/usuarios">Actualizar Usuarios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/consumos">Consultar Consumos</a></li>
                                <li><a class="dropdown-item" href="/facturar">Facturaci贸n</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
                <span class="navbar-text ms-auto" class="bx bxs-edit">
                    <i class="bx bxs-user" style="color: green; font-size: 24px;"></i>
                    <i style="color: blue;"> <%= user.ApelNombre %></i>
                </span>
                        
                <a type="button" class="btn btn-primary mx-2" href="Logout">Cerrar Sesi贸n</a>
            </div>
        </div>
    </nav>
</header>
