    <%- include('partials/_head'); %>

    <link href="css/style.css" rel="stylesheet">
    <link href="img/ICONO_LF.ico" rel="icon">
</head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img class="mb-1 rounded" src="/img/NF-LOGO.jpeg" alt="" width="200" height="75">

    <%- include('partials/_header'); %>

    <main>
<!--         <h2>Usuario:
        <% if (user) { %>
            <span class="bg-body-success"><%= user.ApelNombre %></span>
        <% } %>
        </h2> -->
    </main>

    <%- include('partials/_footer'); %>