body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Resaltar las opciones del menú al pasar el mouse */
.nav-link:hover {
  background-color: #0056b3; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza la transición */
}

.dropdown-item:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  color: white; /* Cambia el color del texto */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza la transición */
}
